In [ ]:
#  Use Pandas to clean and format your data set(s)

#  Create a Jupyter Notebook describing the data exploration and cleanup process

#  Create a Jupyter Notebook illustrating the final data analysis

#  Use Matplotlib to create a total of 6-8 visualizations of your data (ideally, at least 2 per "question" you ask of your data)

#  Save PNG images of your visualizations to distribute to the class and instructional team, and for inclusion in your presentation

#  Optionally, use at least one API, if you can find an API with data pertinent to your primary research questions

#  Create a write-up summarizing your major findings. This should include a heading for each "question" you asked of your data, and under each heading, a short description of what you found and any relevant plots.

In [31]:
# import packages 
import pandas as pd

In [35]:
# read data as csv
file = '../DISNEY-DONUT-PROJECT/Resources/bushfire_data.csv'
bushfire_df = pd.read_csv(file)
bushfire_df

,year,description,state,area burned ha,area burned acres,fatalities,homes destroyed,other buildings destroyed,cattle sheep,livestock,approx value loss
0,1851,Black Thursday bushfires,Victoria,5000000.0,12000000.0,12.0,0.0,0.0,1000000.0,2000.0,NaN
1,1895,Upper Blue Mountains fires,New South Wales,150.0,370.0,0.0,12.0,1.0,NaN,NaN,NaN
2,1898,Red Tuesday bushfires,Victoria,260000.0,640000.0,12.0,0.0,2000.0,NaN,NaN,NaN
3,1926,1926 bushfires,Victoria,390000.0,960000.0,60.0,1000.0,0.0,NaN,NaN,NaN
4,1939,Black Friday bushfires,Victoria,2000000.0,4900000.0,71.0,3700.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
79,2015,2015 Pinery bushfire,South Australia,85000.0,210000.0,2.0,91.0,0.0,NaN,NaN,NaN
80,2370,2016 Murray Road bushfire (Waroona and Harvey),Western Australia,69165.0,170910.0,2.0,181.0,NaN,NaN,NaN,NaN
81,2017,2017 New South Wales bushfires,New South Wales,52000.0,130000.0,0.0,35.0,0.0,NaN,NaN,NaN
82,2019,Tingha bushfire,New South Wales,23419.0,57870.0,0.0,19.0,57.0,NaN,NaN,NaN
83,2020,2019–20 Australian bushfire season (Black Summer),Nationwide,18626000.0,46030000.0,34.0,2600.0,6000.0,NaN,NaN,2300000000

In [36]:
# check data that has number is a 'float', i.e. every variable except 'year', 'description' and 'state' should be a float
bushfire_df.dtypes

year                           int64
description                   object
state                         object
area burned ha               float64
area burned acres            float64
fatalities                   float64
homes destroyed              float64
other buildings destroyed    float64
cattle sheep                 float64
livestock                    float64
approx value loss             object
dtype: object

In [34]:
# check why variables are not a float 

# approx_value_loss
bushfire_df['approx_value_loss'].unique()

# a check of approx_value_loss suggests there is a data point that was included with a '£' 
# will leave for now because the value loss is reflected as the dollar value for that year and needs to be escalated by CPI to (at least) 2020 for analysis

array([nan, '£1,000,000', '14000000', '3000000', '9000000', '13000000',
       '176000000', '25000000', '12000000', '59100000', '59000000',
       '29000000', '69000000', '350000000', '27700000', '22400000',
       '1070000000', '35000000', '53000000', '87100000', '183400000',
       '15000000', '2300000000'], dtype=object)